.app_dark_theme {
  --bg-color: #0a3937;
  --inverted-bg-color: #eac9ad;
  --primary-color: #c70e0e;
  --secondary-color: #8d4848;
  --inverted-primary-color: #e50898;
  --inverted-secondary-color: #9e3db4;
}
