.app_light_theme {
  --bg-color: #eac9ad;
  --inverted-bg-color: #296462;
  --primary-color: #e50898;
  --secondary-color: #9e3db4;
  --inverted-primary-color: #ad8989;
  --inverted-secondary-color: #8d4848;
}
